<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<sectionGroup name="common">
			<section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
		</sectionGroup>

		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
	</configSections>

	<common>
		<logging>
			<factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog20">
				<arg key="configType" value="FILE" />
				<arg key="configFile" value="~/NLog.config" />
			</factoryAdapter>
		</logging>
	</common>

	<appSettings>
		<add key="Json_TypeNameHandling" value="None" />
		<add key="Json_NullValueHandling" value="Ignore" />
		<add key="Json_DateFormatHandling" value="IsoDateFormat" />
		<add key="Json_DateTimeZoneHandling" value="Utc" />
		<add key="Json_DateParseHandling" value="DateTime" />
		<add key="Json_FloatParseHandling" value="Decimal" />
		<add key="Json_FloatFormatHandling" value="String" />
		<add key="Json_Formatting" value="Indented" />

		<add key="Persistence_DatabaseName" value="AGO_Docstore_Next" />
		<add key="Persistence_LoginName" value="ago_user" />
		<add key="Persistence_LoginPwd" value="123" />
		<!--		<add key="Persistence_MasterConnectionString" value="Data Source=(local); Database=master; User ID=sa; Password=123qwe;" />-->
		<add key="Persistence_MasterConnectionString" value="Data Source=(local)\sql2008; Database=master; User ID=sa; Password=123;" />
		<!--<add key="Persistence_MasterConnectionString" value="Data Source=192.168.10.33; Database=master; User ID=ago_user; Password=8QEhqSfuaN;" />-->

		<add key="Hibernate_connection.driver_class" value="NHibernate.Driver.Sql2008ClientDriver, NHibernate" />
		<add key="Hibernate_dialect" value="NHibernate.Dialect.MsSql2008Dialect, NHibernate" />
		<add key="Hibernate_DefaultFlushMode" value="Auto"/>
		<add key="Hibernate_default_schema" value="[AGO_Docstore_Next].[dbo]" />
		<add key="Hibernate_AutoMappingAssemblies" value="AGO.Core" />
		<!--		<add key="Hibernate_connection.connection_string" value="Data Source=(local); Database=AGO_Docstore_Next; User ID=ago_user; Password=8QEhqSfuaN;" />-->
		<add key="Hibernate_connection.connection_string" value="Data Source=(local)\sql2008; Database=AGO_Docstore_Next; User ID=ago_user; Password=123" />
		<!--<add key="Hibernate_connection.connection_string" value="Data Source=192.168.10.33; Database=AGO_Docstore_Next; User ID=ago_user; Password=8QEhqSfuaN;" />-->
		<!--<add key="Hibernate_AutoMappingsDumpPath" value="~/App_Data/Mappings" />-->
		<add key="Hibernate_show_sql" value="true" />

		<add key="Reporting_ServiceName" value="Default"/>
		<add key="Reporting_TemplatesCacheDirectory" value="templates_cache"/>
	</appSettings>
	
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
	</system.web>

	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules runAllManagedModulesForAllRequests="true" />
	</system.webServer>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="3.3.1.4000" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
