<div>
    <div ng-controller="contractCommonTabCtrl">
        contract id:{{contractid}}
    </div>
    <div ng-controller="contractItemCtrl">
            <style type="text/css">
              .css-form input.ng-invalid.ng-dirty {
                background-color: #FA787E;
              }

              .css-form div.select2-container.ng-invalid.ng-dirty {
                background-color: #FA787E;
              }

              .css-form .select2-container-multi ul.select2-choices {
                background-color: transparent;
                background-image: none;
              }

              .css-form div.select2-container.ng-valid.ng-dirty {
                background-color: #78FA89;
              }
            
              .css-form input.ng-valid.ng-dirty {
                background-color: #78FA89;
              }
            </style>

            <form name="contractForm" class="css-form">
                <div class="control-group" ng-class="{error: contractForm.name.$invalid}">
                    <label>Name</label>
                    <input type="text" name="name" ng-model="contract.name" required="true" fake-server-validation class="input-medium" />
                    <span ng-show="contractForm.name.$error.required" class="help-inline">Required field</span>
                    <span ng-show="contractForm.name.$error.fsv" class="help-inline">Invalid name format (no hyphen)</span>
                </div>
                <div class="control-group" ng-class="{error: contractForm.signedAt.$invalid}">
                    <label>Signed at</label>
                    <input ui-date="{changeMonth: true, changeYear: true}" name="signedAt" ng-model="contract.signedAt" required class="input-medium" />
                    <span ng-show="contractForm.signedAt.$error.required" class="help-inline">Provide sign date</span>
                </div>
                <div class="control-group" ng-class="{error: contractForm.category.$invalid}">
                    <label>Category</label>
                    <input type="text" name="category" ui-select2="categoryOptions" ng-model="contract.category" required-multiple class="input-medium" />
                    <span ng-show="contractForm.category.$error.required" class="help-inline">Select at least one category</span>
                </div>
                <div style="position: fixed; top: 170px; left: 200px" ng-show="isChanged()">
                    <button type="button" class="btn" ng-click="cancel()">Cancel</button>
                    <button type="button" class="btn btn-success" ng-click="update()" ng-disabled="!isChanged() || contractForm.$invalid">Update</button>
                </div>
            </form>

    </div>
</div>