<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
  </configSections>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Simple.ConsoleOutLoggerFactoryAdapter, Common.Logging">
        <arg key="level" value="Info" />
        <arg key="showLogName" value="true" />
        <arg key="showDataTime" value="true" />
        <arg key="dateTimeFormat" value="dd.MM.yyyy HH:mm:ss" />
      </factoryAdapter>
    </logging>
  </common>

  <appSettings>
	  <add key="Hibernate_connection.connection_string" value="Data Source=(local); Database=AGO_Docstore_Next; User ID=ago_user; Password=8QEhqSfuaN;" />
	  <!--<add key="Hibernate_connection.connection_string" value="Data Source=(local)\sql2008; Database=AGO_Docstore_Next; User ID=ago_user; Password=8QEhqSfuaN;" />-->
	  <add key="Hibernate_default_schema" value="[AGO_Docstore_Next].[dbo]" />

	  <add key="Hibernate_connection.driver_class" value="NHibernate.Driver.Sql2008ClientDriver, NHibernate" />
	  <add key="Hibernate_dialect" value="NHibernate.Dialect.MsSql2008Dialect, NHibernate" />
	  <add key="Hibernate_AutoMappingAssemblies" value="AGO.Core;AGO.System;AGO.Home;AGO.Tasks" />
	  <add key="Hibernate_show_sql" value="true" />
	  <add key="Hibernate_AutoMappingsDumpPath" value="Mappings" />
  </appSettings>

  <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    <dependentAssembly>
      <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
      <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="3.3.1.4000"/>
    </dependentAssembly>
  </assemblyBinding>
</configuration>