<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>
  </configSections>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Simple.ConsoleOutLoggerFactoryAdapter, Common.Logging">
        <arg key="level" value="Info"/>
        <arg key="showLogName" value="true"/>
        <arg key="showDataTime" value="true"/>
        <arg key="dateTimeFormat" value="dd.MM.yyyy HH:mm:ss"/>
      </factoryAdapter>
    </logging>
  </common>

  <appSettings>
	  <add key="Persistence_ProviderName" value="PostgreSQL"/>
	  <add key="Persistence_DatabaseName" value="ago_apinet"/>
	  <add key="Persistence_LoginName" value="ago_user"/>
	  <add key="Persistence_LoginPwd" value="123"/>
	  <add key="Persistence_MasterConnectionString" value="Server=localhost; Database=postgres; User ID=postgres; Password=postgres;"/>
	  
	  <add key="Hibernate_connection.connection_string" value="Server=localhost;Database=ago_apinet; User ID=ago_user; Password=123; ApplicationName=TaskTests"/>
	  <add key="Hibernate_default_schema" value="ago_apinet.public"/>

	  <add key="Hibernate_connection.driver_class" value="AGO.Core.DataAccess.NpgsqlDriverWithCaseInsensitiveSupport, AGO.Core"/>
	  <add key="Hibernate_dialect" value="NHibernate.Dialect.PostgreSQL82Dialect, NHibernate"/>
	  <add key="Hibernate_AutoMappingAssemblies" value="AGO.Core;AGO.Tasks"/>
	  <add key="Hibernate_show_sql" value="false"/>
	  <add key="Hibernate_AutoMappingsDumpPath" value="Mappings"/>
  </appSettings>

	<system.data>
		<DbProviderFactories>
			<add 
				name="PostgreSQL"
				invariant="PostgreSQL"
				description=".Net Framework Data Provider for Postgresql Server"
				type="Npgsql.NpgsqlFactory, Npgsql, Version=2.0.14.3, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7" />
		</DbProviderFactories>
	</system.data>

	<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
	<dependentAssembly>
		<assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral"/>
		<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="3.3.1.4000"/>
	</dependentAssembly>
	</assemblyBinding>
	
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
	</startup>
</configuration>
