<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<target name="fError" 
				xsi:type="File" 
				fileName="${basedir}/logs/${shortdate}.error.log"
				layout="${longdate} ${level:padding=-30} ${logger:padding=-30} ${message} ${exception:format=tostring}" 
				keepFileOpen="false"/>
		<target name="fInfo"
				xsi:type="File"
				fileName="${basedir}/logs/${shortdate}.info.log"
				layout="${longdate} ${level:padding=-30} ${logger:padding=-30} ${message} ${exception:format=message}"
				keepFileOpen="false"/>
	</targets>
	<rules>
		<logger name="*" minlevel="Error" writeTo="fError" />
		<logger name="*" minlevel="Info" writeTo="fInfo" />
	</rules>
</nlog>