<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="DevMode" value="Prod" />

		<add key="Json_TypeNameHandling" value="None" />
		<add key="Json_NullValueHandling" value="Ignore" />
		<add key="Json_DateFormatHandling" value="IsoDateFormat" />
		<add key="Json_DateTimeZoneHandling" value="Utc" />
		<add key="Json_DateParseHandling" value="DateTime" />
		<add key="Json_FloatParseHandling" value="Decimal" />
		<add key="Json_FloatFormatHandling" value="String" />
		<add key="Json_Formatting" value="Indented" />

		<add key="Hibernate_connection.driver_class" value="NHibernate.Driver.Sql2008ClientDriver, NHibernate" />
		<add key="Hibernate_dialect" value="NHibernate.Dialect.MsSql2008Dialect, NHibernate" />
		<add key="Hibernate_connection.connection_string" value="Data Source=(local); Database=AGO_Docstore; User ID=sa; Password=123qwe;" />
		<!--<add key="Hibernate_connection.connection_string" value="Data Source=sql10-12-rus.corp.parking.ru;Initial Catalog=gexxo_5;User ID=gexxo_5;Password=]]06d64(dC;" />-->
		<!--<add key="Hibernate_default_schema" value="[gexxo_5].[dbo]" />-->
		<add key="Hibernate_AutoMappingAssemblies" value="AGO.Docstore" />
		<!--<add key="Hibernate_AutoMappingsDumpPath" value="D:/Development/AGO/Mappings" />-->
		<add key="Hibernate_show_sql" value="true" />
	</appSettings>

	<system.web>
		<customErrors mode="Off" />
		<compilation debug="true" targetFramework="4.0" />
		<httpRuntime requestValidationMode="2.0" />
		<globalization culture="ru-RU" uiCulture="ru-RU" />
	</system.web>

	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules runAllManagedModulesForAllRequests="true" />	
	</system.webServer>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="3.3.1.4000" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>