<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog20">
        <arg key="configType" value="FILE" />
        <arg key="configFile" value="~/NLog.config" />
      </factoryAdapter>
    </logging>
  </common>
  <appSettings>
	  <add key="owin:AutomaticAppStartup" value="true"/>
	  
    <add key="DevMode" value="Dev" />
    <add key="DisableCaching" value="true" />
    <add key="Json_TypeNameHandling" value="None" />
    <add key="Json_NullValueHandling" value="Ignore" />
    <add key="Json_DateFormatHandling" value="IsoDateFormat" />
    <add key="Json_DateTimeZoneHandling" value="Utc" />
    <add key="Json_DateParseHandling" value="DateTime" />
    <add key="Json_FloatParseHandling" value="Decimal" />
    <add key="Json_FloatFormatHandling" value="String" />
    <add key="Json_Formatting" value="Indented" />
    <add key="Persistence_DatabaseName" value="AGO_Docstore_Next" />
    <add key="Persistence_LoginName" value="ago_user" />
    <add key="Persistence_LoginPwd" value="123" />
        <add key="Persistence_MasterConnectionString" value="Data Source=(local); Database=master; User ID=sa; Password=123qwe;" />
	  <!--<add key="Persistence_MasterConnectionString" value="Data Source=(local)\sql2008; Database=master; Integrated Security=SSPI" />-->
    <!--<add key="Persistence_MasterConnectionString" value="Data Source=192.168.10.33; Database=master; User ID=ago_user; Password=8QEhqSfuaN;" />-->
    <add key="Hibernate_connection.driver_class" value="NHibernate.Driver.Sql2008ClientDriver, NHibernate" />
    <add key="Hibernate_dialect" value="NHibernate.Dialect.MsSql2008Dialect, NHibernate" />
    <add key="Hibernate_default_schema" value="[AGO_Docstore_Next].[dbo]" />
    <add key="Hibernate_AutoMappingAssemblies" value="AGO.Core;AGO.Tasks" />
	<add key="Hibernate_connection.connection_string" value="Data Source=(local); Database=AGO_Docstore_Next; User ID=ago_user; Password=8QEhqSfuaN;" />
	  <!--<add key="Hibernate_connection.connection_string" value="Data Source=(local)\sql2008; Database=AGO_Docstore_Next; User ID=ago_user; Password=123; Application Name=Api" />-->
    <!--<add key="Hibernate_connection.connection_string" value="Data Source=192.168.10.33; Database=AGO_Docstore_Next; User ID=ago_user; Password=8QEhqSfuaN;" />-->
    <!--<add key="Hibernate_AutoMappingsDumpPath" value="~/App_Data/Mappings" />-->
    <add key="Hibernate_show_sql" value="true" />

	  <!--Redis client settings (same as default values)-->
	  <!--<add key="Notification_redis_host" value="127.0.0.1"/>-->
	  <!--<add key="Notification_redis_port" value="6379"/>-->
	  <!--Attemtrs to resend data to redis, if connection is broken-->
	  <!--<add key="Notification_max_attempts" value="10"/>-->
	  <!--Interval between send and reconnect attempts (ms)-->
	  <!--<add key="Notification_retry_interval" value="1000"/>-->
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5" />
    <globalization culture="ru-RU" uiCulture="ru-RU" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <httpProtocol>
      <customHeaders>
        <clear />
        <add name="Access-Control-Allow-Origin" value="http://localhost:9000" />
        <!--<add name="Access-Control-Allow-Origin" value="http://olegsmith.github.io" />-->
        <add name="Access-Control-Allow-Headers" value="Origin, Content-Type, Accept, Cookie" />
        <add name="Access-Control-Allow-Credentials" value="true" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="3.3.1.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SimpleInjector" publicKeyToken="984cb50dea722e99" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.0.0" newVersion="2.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>