<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="common">
			<section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
		</sectionGroup>
	</configSections>
	<common>
		<logging>
			<factoryAdapter type="Common.Logging.Simple.ConsoleOutLoggerFactoryAdapter, Common.Logging">
				<arg key="level" value="Info" />
				<arg key="showLogName" value="true" />
				<arg key="showDataTime" value="true" />
				<arg key="dateTimeFormat" value="dd.MM.yyyy HH:mm:ss" />
			</factoryAdapter>
		</logging>
	</common>

	<appSettings>
		<add key="Json_TypeNameHandling" value="None" />
		<add key="Json_NullValueHandling" value="Ignore" />
		<add key="Json_DateFormatHandling" value="IsoDateFormat" />
		<add key="Json_DateTimeZoneHandling" value="Utc" />
		<add key="Json_DateParseHandling" value="DateTime" />
		<add key="Json_FloatParseHandling" value="Decimal" />
		<add key="Json_FloatFormatHandling" value="String" />
		<add key="Json_Formatting" value="Indented" />
		
		<add key="DatabaseName" value="AGO_Docstore_Next" />
		<add key="LoginName" value="ago_user" />
		<add key="Hibernate_connection.connection_string" value="Data Source=(local); Database=AGO_Docstore_Next; User ID=ago_user; Password=123;" />
		<!--<add key="Hibernate_connection.connection_string" value="Data Source=(local)\sql2008; Database=AGO_Docstore_Next; User ID=ago_user; Password=123;" />-->
		<add key="Hibernate_default_schema" value="[AGO_Docstore_Next].[dbo]" />

		<!--<add key="Hibernate_connection.connection_string" value="Data Source=sql10-12-rus.corp.parking.ru;Initial Catalog=gexxo_7;User ID=gexxo_7;Password=#1I2,)2N8r;" />-->
		<!--<add key="Hibernate_default_schema" value="[gexxo_7].[dbo]" />-->

		<add key="Hibernate_connection.driver_class" value="NHibernate.Driver.Sql2008ClientDriver, NHibernate" />
		<add key="Hibernate_dialect" value="NHibernate.Dialect.MsSql2008Dialect, NHibernate" />
		<add key="Hibernate_AutoMappingAssemblies" value="AGO.Core;AGO.System;AGO.Home;AGO.Tasks" />
		<add key="Hibernate_show_sql" value="true" />
		<add key="Hibernate_AutoMappingsDumpPath" value="Mappings" />
		<add key="MasterConnectionString" value="Data Source=(local); Database=master; User ID=sa; Password=123qwe;" />
		<!--<add key="MasterConnectionString" value="Data Source=(local)\sql2008; Database=master; User ID=sa; Password=123qwe;" />-->
	</appSettings>

	<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
		<dependentAssembly>
			<assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="3.3.1.4000"/>
		</dependentAssembly>
	</assemblyBinding>
</configuration>