.filterBuilder {
  background-color: #f5f5f5;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 10px 10px 0 10px;
}
.filterBuilder .nodesContainer {
  margin-bottom: 10px;
}
.filterBuilder .nodesContainer .nodePanel .opLabel,
.filterBuilder .nodesContainer .nodePanel .pathLabel,
.filterBuilder .nodesContainer .nodePanel .valueLabel,
.filterBuilder .nodesContainer .nodePanel .propertyTypeLabel,
.filterBuilder .nodesContainer .nodePanel .opSelect,
.filterBuilder .nodesContainer .nodePanel .pathSelect,
.filterBuilder .nodesContainer .nodePanel .valueEditor,
.filterBuilder .nodesContainer .nodePanel .timePicker,
.filterBuilder .nodesContainer .nodePanel .propertyTypeLookup {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  vertical-align: middle;
}
.filterBuilder .nodesContainer .nodePanel .opLabel,
.filterBuilder .nodesContainer .nodePanel .pathLabel,
.filterBuilder .nodesContainer .nodePanel .valueLabel,
.filterBuilder .nodesContainer .nodePanel .propertyTypeLabel {
  padding: 4px  0  4px 10px;
}
.filterBuilder .nodesContainer .nodePanel .opSelect,
.filterBuilder .nodesContainer .nodePanel .pathSelect,
.filterBuilder .nodesContainer .nodePanel .valueEditor,
.filterBuilder .nodesContainer .nodePanel .timePicker,
.filterBuilder .nodesContainer .nodePanel .propertyTypeLookup {
  width: 100%;
}
.filterBuilder .nodesContainer .nodePanel .valueEditor,
.filterBuilder .nodesContainer .nodePanel .timePicker {
  padding: 4px 6px;
  height: 28px;
  line-height: 28px;
  box-sizing: border-box;
  border: 1px solid #cccccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.filterBuilder .nodesContainer .nodePanel .errorsIcon {
  background-image: url(Images/exclamation.gif);
  width: 16px;
  height: 16px;
  margin: 2px 5px 0 5px;
  display: inline-block;
  cursor: pointer;
}
.filterBuilder .nodesContainer .nodePanel .lookupCtrl {
  display: block;
  margin-bottom: 5px;
}
.filterBuilder .nodesContainer .nodePanel .nodeData {
  padding: 5px 5px 0 5px;
  box-sizing: border-box;
  background-color: #fafafa;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 5px;
}
.filterBuilder .nodesContainer .nodePanel .nodeData:hover {
  border: 1px dashed rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.filterBuilder .nodesContainer .nodePanel .selectedNodeData {
  background-color: #dfe8f7;
  cursor: pointer;
}
.filterBuilder .nodesContainer .nodePanel .nodeChildren {
  margin: 0 0 0 20px;
}
.filterBuilder .buttons {
  margin-bottom: 10px;
}
.simpleFilter .topButtons {
  margin-bottom: 0px !important;
}
.persistedFiltersDialog .persistedFiltersPanel,
.persistedFiltersDialog .buttons,
.persistedFiltersDialog .saveFilterPanel {
  vertical-align: middle;
}
.persistedFiltersDialog .persistedFiltersPanel,
.persistedFiltersDialog .buttons {
  margin-bottom: 10px;
}
.persistedFiltersDialog input,
.persistedFiltersDialog select {
  margin: 0 5px 0 0;
}
.persistedFiltersDialog .persistedFiltersSelect {
  width: 100%;
}
.persistedFiltersDialog .errorsIcon {
  background-image: url(images/exclamation.gif);
  width: 16px;
  height: 16px;
  margin: 0 5px 0 5px;
  display: inline-block;
  cursor: pointer;
}
